.button-text{
    display:flux;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
}
.button-text a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: aquamarine;
    background: rgb(255, 0, 0);
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;   
}
.button-text a:hover{
    color: rgb(255, 255, 255, 0.4);
}
.button-text a span{
    display: block;
    position: absolute;
    background: blue;
}
.button-text a span:nth-child(1)
{
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleX(0);
    
    transform-origin: top;
    transition: treansform 0.5s;
}
.button-text a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.button-text a span:nth-child(2)
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: treansform 0.5s;
}
.button-text a:hover span:nth-child(2){
    transform: scalex(1);
    transform-origin: left;
    transition: transform 0.5s;
}
a span:nth-child(3)
{
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaley(0);
    transform-origin: top;
    transition: treansform 0.5s;
}
a:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}